.main-container {
    background-color: #fff;
    //padding: 2rem;
    border-radius: 8px;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    margin: 0 auto;
    //position: relative; 
    padding-bottom: 8rem;
	//height:75rem;
}


.success-container {
  background-color: #f6fef9;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #d1f0d7;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.success-message .icon-wrapper {
  font-size: 36px;
  color: #28a745; 
  margin-bottom: 10px;
}

.success-message .ritm-link {
  display: inline-block;
  margin-top: 8px;
  font-weight: 600;
  color: #28a745;
  text-decoration: none;
}

.success-message .ritm-link:hover {
  text-decoration: underline;
}

.rating-container {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 6px;
}

.rating-container p {
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.stars {
  font-size: 22px;
  color: #ffc107; 
}

.stars .fa {
  cursor: pointer;
  margin: 0 3px;
}

.side-panel-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 80rem;
    height: 100vh;
    background: #fff;
    box-shadow: -4px 0 20px rgba(0,0,0,.2);
    z-index: 9999;
    transition: right 0.3s;
    padding: 36px 12px 0 32px;
    overflow-y: auto;
}

.side-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}
.side-panel-header .close {
    font-size: 2rem;
    cursor: pointer;
}
.side-panel-content {
    padding-bottom: 20px;
}
.side-panel-footer {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: transparent;
    display: flex;
    gap: 8px;
}

.breadcrumb-info {
  position: relative;
  display: inline-block;
}

.breadcrumb-tooltip {
  position: absolute;
  top: 22px;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  z-index: 99;
  min-width: 180px;
  white-space: normal;
  font-size: 14px;
}

