.modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  	height:55px;
}

.btn {
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-prev {
    color: #706A6E;
    background-color: #FFFFFF;
    border: 1px solid #706A6E;
  	position:absolute;
  	left: 1.5rem;
  	bottom: 1rem;
}

.btn-prev:hover {
    color: #333;
    background-color: #e9e9e9;
    border-color: #8c8c8c;
}

.btn-next {
    color: #CE0058;
    background-color: #FFFFFF;
    border: 1px solid #CE0058;
  	position:absolute;
  	right: 1.5rem;
  	bottom: 1rem;
}

.btn-next:hover {
    background-color: #ff2a75;
    border-color: #ff2a75;
  	color:#FFFFFF;
}

.btn .fa {
    margin: 0 5px;
}
